<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <link href="../static/img/refape.png" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styleCadastro.css">
    <title>apagando ponto</title>
</head>
<body>

<div class='container'>
  <div class='card'>
    <h1> Apagando Ponto </h1>
      <form action="deletaP" method="POST">
          {%for dado in dados%}
            <div class="saida">
                <p>{{dado[0]}}</p>
               <label id="labelNome">Nome</label>
            </div>

            <div class="saida">
                <input type="text" id="email" name="cpf" placeholder=" "  value = {{dado[1]}} readonly>
               <label id="labelEmail">CPF</label>
            </div>

            <div class="saida">
                <input type="text" id="id" name="id" placeholder=" "  value={{dado[2]}} readonly>
               <label id="labelresponsavel">ID</label>
            </div>

            <div class="saida">
                <p>{{dado[5]}}</p>
               <label id="labelEntrada">Entrada</label>
            </div>
            <div class="saida">
                <p>{{dado[6]}}</p>
               <label id="labelSaida">Saída</label>
            </div>
            <div class="saida">
                <p>{{dado[3]}}</p>
               <label id="labelPermanencia">Permanéncia</label>
            </div>
            <div class="saida">
                <p>{{dado[4]}}</p>
               <label id="labelcnpj">CNPJ</label>
            </div>

            <div class="justify-center">
               <input type="checkbox" id="confirmacao" name="confirmacao">
               <label id="labelConfirmacao" for="confirmacao">Confirmação</label>
            </div>

            <div class='justify-center'>
               <button type="submit" name="Register" >Apagar Ponto</button>
            </div>
          {%endfor%}
      </form>
  </div>
</div>

  <script src="../static/scriptCadastro.js"></script>
</body>
</html>