<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/img/refape.png" rel="icon">
    <link href="../static/estilosProprios.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styleCadastro.css">
    <title>cadasstro de empresa</title>
</head>
<body>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle"></i>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
   {% endif %}
   {% endwith %}
<div class='container'>
  <div class='card'>
    <h1> Cadastrar </h1>
      <form action="/criaConta" method="POST">
            <div class="label-float">
               <input type="text" id="nome" name="nome" placeholder=" " required>
               <label id="labelNome" for="nome">Nome da empresa</label>
            </div>

            <div class="label-float">
               <input type="text" id="email" name="email" placeholder=" " required>
               <label id="labelEmail" for="email">E-mail</label>
            </div>

            <div class="label-float">
               <input type="text" id="nomeResponsavel" name="responsavel" placeholder=" " required>
               <label id="labelNomeResponsavel" for="nomeResponsavel">Nome do responsável</label>
            </div>

            <div class="label-float">
               <input type="text" id="cnpj" name="cnpj" placeholder=" " required>
               <label id="labelCnpj" for="cnpj">CNPJ</label>
            </div>

            <div class="label-float">
               <input type="password" id="senha" name="senha" placeholder=" " required>
               <label id="labelSenha" for="senha">Senha</label>
               <i id="olho" class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="label-float">
               <input type="password" id="confirmSenha" name="senhaConfir" placeholder=" " required>
               <label id="labelConfirmSenha" for="confirmSenha">Confirmar Senha</label>
               <i id="verConfirmSenha" class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class='justify-center'>
               <button type="submit" name="Register"> Cadastrar </button>
            </div>
      </form>
      <div class='justify-center'>
          <hr>
      </div>
      <div class='justify-center'>
               <a href="/"> <button>  Voltar </button> </a>
      </div>
  </div>
</div>
  <script src="../static/scriptCadastro.js"></script>
  <script src="../static/scriptsProprios.js"></script>
</body>
</html>